.filters {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-top: 10px;
    float: right;
}

.filters button:hover {
    opacity:0.9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    float:left;
}

.amenities {
    height: 100%;
    width: 25%;
    float: left;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 5px;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 30px;
    line-height: 2;
    /* display es para que aparezca cuando se pasa el mouse */
    display: none;
    /* para que no me ponga ningun tipo de lista */
    list-style-type: none;
    /* Para que overlapee al contenido de la pagina */
    position: relative;
}

.popover h2{
    font-size: 16px;
    margin-bottom: 1px;
    line-height: 1;
    margin-left: -15px;
}

.popover ul{
    /* para que no me ponga ningun tipo de lista */
    list-style-type: none;
    margin-left: -35px;
}

.locations:hover .popover,
.amenities:hover .popover {
    /* Hace aparecer el cuadro cuando pasas mouse */
    display: block;
}